@model SignInViewModel
@{
    ViewData["Title"] = "Sign In";
}

<section class="signin">
    <div class="container">

        @if (!string.IsNullOrEmpty(ViewData["StatusMessage"]?.ToString()))
        {
            <div class="alert alert-danger">
                @ViewData["StatusMessage"]
            </div>
        }
        

        <form method="post" asp-action="SignIn" asp-controller="Auth" asp-route-ReturnUrl="@ViewData["ReturnUrl"]" novalidate>
            <h1>Welcome back </h1>
            <p>Don't have an account yet? <a asp-action="SignUp" asp-controller="Auth">Sign up here</a></p>

            <div class="form-content">
                <div id="form-email" class="input-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" id="SignInEmail" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div id="form-password" class="input-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" id="SignInPassword" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div id="form-checkbox" class="checkbox-group">

                    <div class="input-group">
                        <input asp-for="IsPresistent" />
                        <label asp-for="IsPresistent"></label>
                    </div>
                    

                </div>
                <div id="form-button">
                    <button type="submit" class="btn btn-theme"><i class="fa.-regular fa-arrow-right-to-bracket"></i>  Sign in</button>
                </div>
            </div>


        </form>
        
    </div>

</section>
