<section id="features">
    <div class="container">
        <div class="title">
            <h1>What Do You Get with Our Tool?</h1>
            <p>
                Make sure all your tasks are organized so you can set the priorities and focus
                on important.
            </p>
        </div>
        <div class="feature-list">
            <div id="feature-1" class="feature">
                <div class="icon">
                    <img src="~/images/icons/chat-icon.svg" />
                </div>
                <h5>Comments on Tasks</h5>
                <p>
                    Id mollis consectetur congue egestas egestas
                    suspendisse blandit justo.
                </p>

            </div>
            <div id="feature-2" class="feature">
                <div class="icon">
                    <img src="~/images/icons/chat-icon.svg" />
                </div>
                <h5>Tasks Analytics</h5>
                <p>
                    Non imperdiet facilisis nulla tellus Morbi
                    scelerisque eget adipiscing vulputate.

                </p>

            </div>
            <div id="feature-3" class="feature">
                <div class="icon">
                    <img src="~/images/icons/add-group-icon.svg" />
                </div>
                <h5>Multiple Assignees </h5>
                    
                <p>
                    A elementum, imperdiet enim, pretium etiam
                    facilisi in aenean quam mauris.
                </p>

            </div>
            <div id="feature-4" class="feature">
                <div class="icon">
                    <img src="~/images/icons/bell-icon.svg" />
                </div>
                <h5>Notifications</h5>
                <p>
                    Diam, suspendisse velit cras ac. Lobortis diam
                    volutpat, eget pellentesque viverra
                </p>

            </div>
            <div id="feature-5" class="feature">
                <div class="icon">
                    <img src="~/images/icons/test-icon.svg" />
                </div>
                <h5>Sections & Subtasks</h5>
                <p>
                    Mi feugiat hac id in. Sit elit placerat lacus nibh
                    lorem ridiculus lectus.

                </p>

            </div>
            <div id="feature-6" class="feature">
                <div class="icon">
                    <img src="~/images/icons/shield-icon.svg" />
                </div>
                <h5>Data Security</h5>
                <p>
                    Aliquam malesuada neque eget elit nulla
                    vestibulum nunc cras.
                </p>

            </div>

        </div>
    </div>
</section>