<section id="integrated-tools">
    <div class="container">
        <div class="title">
            <h1>Integrate Top Work Tools</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas.Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.
                
            </p>
        </div>
        <div class="tools">
            <div class="tool">
                <img src="~/images/icons/google-icon.svg" />
                <p>
                    Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.
                    
                    
                </p>
            </div>


            <div class="tool">
                <img src="~/images/icons/zoom-icon.svg" />
                <p>

                    In eget a mauris quis.  tempus quis integer est sit  natoque placerat dolor.

                </p>
            </div>


            <div class="tool">
                <img src="~/images/icons/slack-icon.svg" />
                <p>
                    Id mollis consectetur congue egestas egestas suspendisse blandit justo.

                    
                    

                </p>
            </div>


            <div class="tool">
                <img src="~/images/icons/gmail-icon.svg" />
                <p>
                  cras praesent. utrum interdum tortor, sed at  A  cursus bibendum elit purus


                </p>
            </div>


            <div class="tool">
                <img src="~/images/icons/trello-icon.svg" />
                <p>
                    C curabitur quam diam scelerisque  fermentum urna. ongue pellentesque amet, viverra


                </p>
            </div>


            <div class="tool">
                <img src="~/images/icons/mailchimp-icon.svg" />
                <p>
                    A pretium etiam facilisi in aenean  quam mauris.  elementum, imperdiet enim,


                </p>
            </div>


            <div class="tool">
                <img src="~/images/icons/dropbox-icon.svg" />
                <p>
                    U lectus elementum.  blandit platea. t in turpis consequat odio diam  E st faucibus


                </p>
            </div>


            <div class="tool">
                <img src="~/images/icons/evernote-icon.svg" />
                <p>
                    F cursus nibh. Sociis sit risus id. Sit  facilisis dolor arcu. aucibus cursus maecenas lorem


                </p>
            </div>
        </div>
    </div>
</section>