*, *::before, *::after {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
}

body{
    font-optical-sizing: auto;
    font-family: "manrope", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:16px;
    line-height:1.5;
    color: var(--color-gray-700);
    background-color: var(--color-gray-000);
}