:root {
    --color-gray-000: #FFFFFF;
    --color-gray-100: #F3F6FF;
    --color-gray-200: #EFF2FC;
    --color-gray-300: #E2E5F1;
    --color-gray-400: #D4D7E5;
    --color-gray-500: #B4B7C9;
    --color-gray-600: #9397AD;
    --color-gray-700: #565973;
    --color-gray-800: #33354D;
    --color-gray-900: #0B0F19;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray: #EFF2FC;
    --color-theme: #6366F1;
    --color-danger: #F5D7DA;
    --color-danger-dark: #e57e88;
    --color-success: #bcf7d2;
    --color-success-dark: #22C55E;
    --color-warning: #ffe8ad;
    --color-info: #cfdefd;
    --font-standard: "Manrope", sans-serif;
}
